/out/
/js/node_modules
/lib/*
/deps/*
!/deps/manual/
/.idea/workspace.xml
/.idea/misc.xml
/.idea/uiDesigner.xml
/.idea/compiler.xml
/reports/
/fx.zip
/README.md
/provision.json
.DS_Store
windows-debug-launcher.nsi.in
/ant/private/qz.ks
/ant/deps/ivy