matrix:
  include:
    - os: linux
      jdk: oraclejdk8
      env: TARGET=nsis
      arch: amd64
    - os: linux
      jdk: openjdk11
      env: TARGET=nsis
      arch: amd64
    - os: linux
      jdk: oraclejdk8
      env: TARGET=makeself
      arch: amd64
    - os: linux
      jdk: openjdk11
      env: TARGET=makeself
      arch: amd64
    - os: linux
      jdk: openjdk11
      env: TARGET=makeself
      arch: arm64
    - os: osx
      env: TARGET=pkgbuild
      jdk: openjdk11
      osx_image: xcode12.2
      arch: amd64
    - os: osx
      env: TARGET="-Djre.arch=aarch64 pkgbuild"
      jdk: openjdk11
      osx_image: xcode12.3
      arch: amd64
language: java
dist: trusty
addons:
  apt:
    packages:
      - ant
      - makeself
      - nsis
before_script:
  - sw_vers -productVersion && brew update && brew install ant && brew uninstall --ignore-dependencies openjdk && brew install openjdk@11 && ln -s /usr/local/opt/openjdk@11 /usr/local/opt/openjdk; ant -version
script: ant $TARGET
