<project name="testing-helpers" basedir="../">
    <target name="find-testng">
        <!-- find the testng jars -->
        <path id="testng.found">
            <first>
                <fileset dir="ant/deps/ivy">
                    <include name="testng*.jar"/>
                </fileset>
            </first>
        </path>
        <pathconvert property="testng.path" refid="testng.found"/>
        <path id="jcommander.found">
            <first>
                <fileset dir="ant/deps/ivy">
                    <include name="jcommander*.jar"/>
                </fileset>
            </first>
        </path>
        <pathconvert property="jcommander.path" refid="jcommander.found"/>

        <path id="testng.classpath">
            <pathelement location="${testng.path}" />
            <pathelement location="${jcommander.path}" />
        </path>

        <echo level="info">testng.path: ${testng.path}</echo>
        <echo level="info">jcommander.path: ${jcommander.path}</echo>

        <taskdef name="testng" classpathref="testng.classpath" classname="org.testng.TestNGAntTask"/>
    </target>
</project>