name: build

on: [push, pull_request]

jobs:
  ubuntu:
    runs-on: [ubuntu-latest]
    strategy:
      matrix:
        java: [11]
        arch: [x86_64, aarch64, riscv64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'
      - run: sudo apt-get install makeself
      - if: ${{ matrix.arch == 'riscv64' }}
        run: |
          # TODO: remove after migrating to JDK21+
          export ANT_OPTS="-Djlink.java.version=21.0.7+9"
      - run: ant -Dtarget.arch=${{ matrix.arch }} makeself
      - uses: actions/upload-artifact@v4
        with:
          name: qz-tray-linux-${{ matrix.arch }}
          path: out/qz-tray-*.run
      - if: ${{ matrix.arch == 'x86_64' }}
        run: |
          # Only run tests on same arch
          sudo out/qz-tray-*.run
          /opt/qz-tray/qz-tray --version
          sudo apt-get install nsis
          ant nsis

  macos:
    runs-on: [macos-latest]
    strategy:
      matrix:
        java: [11]
        arch: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'
      - run: ant -Dtarget.arch=${{ matrix.arch }} pkgbuild
      - uses: actions/upload-artifact@v4
        with:
          name: qz-tray-macos-${{ matrix.arch }}
          path: out/qz-tray-*.pkg
      - if: ${{ matrix.arch == 'aarch64' }}
        run: |
          # Only run tests on same arch
          sudo installer -pkg out/qz-tray-*.pkg -target /
          "'/Applications/QZ Tray.app/Contents/MacOS/QZ Tray' --version"
          brew install nsis makeself
          ant makeself
          ant nsis

  windows:
    runs-on: [windows-latest]
    strategy:
      matrix:
        java: [11]
        arch: [x86_64, aarch64]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'liberica'
      - run: choco install nsis
      - run: ant -Dtarget.arch=${{ matrix.arch }} nsis
      - uses: actions/upload-artifact@v4
        with:
          name: qz-tray-windows-${{ matrix.arch }}
          path: out/qz-tray-*.exe
      - if: ${{ matrix.arch == 'x86_64' }}
        run: |
          # Only run tests on same arch
          Start-Process -Wait ./out/qz-tray-*.exe -ArgumentList "/S"
          "&'C:/Program Files/QZ Tray/qz-tray.exe' --wait --version|Out-Null"


